<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title>To Do Application</title>
    <title>Registration page</title>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <link rel='stylesheet' href='webjars/Semantic-UI/2.2.2/semantic.min.css'/>
    <script src="webjars/Semantic-UI/2.2.2/semantic.min.js"></script>
</head>
<body>
<div class="ui container">
    <div th:replace="navigation.inc :: navigation"></div>
    <div class="ui divider">
        <br/>
        <div class="ui grid">
            <!--Not authenticated-->
            <div class="ten wide column" sec:authorize="isAnonymous()">
                <br/>
                <div class="ui message">
                    <h1 class="ui header">Hello, world!</h1>
                    <br/>
                    <p>This application is a simple to-do-list application created for iyzico.</p>
                    <br/>
                    <p>To check out implementation details, check github repository of project.</p>
                </div>
            </div>
            <div class="six wide column" sec:authorize="isAnonymous()">
                <br />
                <div th:replace="login :: loginForm"></div>
            </div>
            <!--Authenticated-->
            <div class="three wide column" sec:authorize="isAuthenticated()"></div>
            <div class="ten wide column" sec:authorize="isAuthenticated()">
                <h1>Welcome <span th:text="${name}"></span></h1>
            </div>
            <div class="three wide column" sec:authorize="isAuthenticated()"></div>
        </div>
    </div>
</div>
</body>
</html>