<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>To Do Application</title>
    <title>Registration page</title>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <link rel='stylesheet' href='webjars/Semantic-UI/2.2.2/semantic.min.css'/>
    <script src="webjars/Semantic-UI/2.2.2/semantic.min.js"></script>
</head>
<body>
<div class="ui container">
    <div th:replace="navigation :: navigation"></div>
    <div class="ui divider">
        <br/>
        <div class="ui message">
            <h1 class="ui header">Hello, world!</h1>
            <br/>
            <p>This application is a simple to-do-list application created as application project for iyzico.</p>
            <br/>
            <p>To check out implementation details, check github repository of project.</p>
        </div>
    </div>
</div>
</body>
</html>